<%= form_with(model: content, local: true) do |form| %>
  <% if content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="grey-text">Carica il contenuto digitale che vuoi vendere</label><br>
    <%= form.file_field :allegato %>
  </div>
<br>
  <div class="field">
    <%= form.label :titolo %>
    <%= form.text_field :titolo, id: :content_titolo %>
  </div>

  <div class="field">
    <%= form.label :descrizione %>
    <%= form.text_area :descrizione, class: "materialize-textarea", id: :content_descrizione %>
  </div>

  <div class="field">
    <%= form.label :prezzo_min_50_cent %>
    <%= form.text_field :price, id: :content_price %>
  </div>

  <div class="field">
    <label class="grey-text">Carica la cover del contenuto</label><br>
    <%= form.file_field :cover %>
  </div>

<br>

  <div class="actions">
    <%= form.submit 'Salva contenuto', class: "btn btn-form" %>
  </div>
  <br>
<% end %>
